APScheduler==3.11.0
astroid==3.3.9
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dill==0.3.9
dodgy==0.2.1
flake8==7.1.2
flake8-polyfill==1.0.2
Flask==3.1.0
Flask-APScheduler==1.13.1
flask-cors==5.0.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-api-python-client==2.163.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.69.1
httplib2==0.22.0
idna==3.10
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
oauthlib==3.2.2
packaging==24.2
pep8-naming==0.10.0
platformdirs==4.3.6
prospector==1.15.3
proto-plus==1.26.1
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pylint==3.3.5
pylint-celery==0.3
pylint-django==2.6.1
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
requirements-detector==1.3.2
rsa==4.9
semver==3.0.4
setoptconf-tmp==0.3.1
setuptools==75.8.0
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
toml==0.10.2
tomlkit==0.13.2
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
